// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $light-warn: mat-palette($mat-red);


// themes for notifications
$theme-default: mat-palette($mat-grey);
$theme-info: mat-palette($mat-blue);
$theme-success: mat-palette($mat-green);
$theme-warning: mat-palette($mat-yellow);
$theme-error: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$light-theme: mat-light-theme($light-primary, $light-accent, $theme-warning);

//dark Colors
// $dark-primary: mat-palette($mat-deep-purple);
$dark-primary: mat-palette($mat-red);
$dark-accent: mat-palette($mat-pink, A200, A100, A400);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
// $dark-theme-info: mat-palette($mat-blue);
// $dark-theme-success: mat-palette($mat-green);
// $dark-theme-warning: mat-palette($mat-yellow);
// $dark-theme-error: mat-palette($mat-red);

// Theme for notifications / snackbar
// $notifications-theme: (
//   default: #fff,
//   info: mat-color(mat-palette($mat-blue), 400),
//   success: mat-color(mat-palette($mat-green), 400),
//   warning: mat-color(mat-palette($mat-yellow), 400),
//   error: mat-color(mat-palette($mat-red), 400),
// );