<h2 mat-dialog-title align="center" [attr.color]="color">Recipe</h2>
<div mat-dialog-content fxFill [formGroup]="form">  
  <div fxLayout="column" fxLayout.gt-xs="row">
    <h3>Description</h3>   
    <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px">
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Servings</mat-label>
          <input matInput type="number" formControlName="numberOfPeople"/>
        </mat-form-field>
      </div>
      <div fxLayout="column" fxFlex>
        <mat-form-field>
          <mat-label>Preparation Time</mat-label>
          <input matInput type="number" formControlName="preparationTime">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Cooking Time</mat-label>
          <input matInput type="number" formControlName="cookingTime">
        </mat-form-field>
      </div>   
    </div>
    <mat-form-field>
      <mat-label>Photo url's</mat-label>
      <input matInput type="url" formControlName="photoPath">
    </mat-form-field>
  </div>  
  <!-- <h3>Ingredients   <button mat-mini-fab color="primary" (click)="openInsertIngredient()"><mat-icon>add</mat-icon></button></h3> -->
  <h3>Ingredients</h3>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"  *ngIf="!itemDetail.detailVisible">
    <mat-form-field *ngIf="!itemDetail.detailVisible">
        <input matInput type="text" placeholder="New Item" (focus)="modifyItem(itemDetail)"/>
    </mat-form-field>        
    <button mat-icon-button color="primary" (click)="modifyItem(itemDetail)">
        <mat-icon>forward</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center"  *ngIf="itemDetail.detailVisible">
      <app-ingredients 
          [name]="ingForm.controls.name" 
          [quantity]="ingForm.controls.quantity" 
          [unit]="ingForm.controls.unit" 
          [foodType]="ingForm.controls.foodType">
      </app-ingredients>
      <button mat-icon-button color="primary" (click)="addItem(itemDetail)">
          <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="cancelItem(itemDetail)" >
          <mat-icon>undo</mat-icon>
      </button>
  </div>
  <div *ngIf="form.controls.ingredients.value.length > 0">
    <div *ngFor="let ing of form.controls.ingredients.value;let indexOfelement=index;">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" *ngIf="!ing.detailVisible">
        <mat-form-field>
            <input matInput type="text" readonly [value]="displayIngredient(ing.ingredient)"/>
        </mat-form-field>   
        <button mat-icon-button color="primary" (click)="modifyItem(ing)">
            <mat-icon>create</mat-icon>
        </button>
        <button mat-icon-button color="primary" (click)="removeIngredient(indexOfelement)">
            <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" *ngIf="ing.detailVisible">                
          <app-ingredients 
              [name]="ingForm.controls.name" 
              [quantity]="ingForm.controls.quantity" 
              [unit]="ingForm.controls.unit" 
              [foodType]="ingForm.controls.foodType">
          </app-ingredients>
          <button mat-icon-button color="primary" (click)="updateItem(ing)" >
              <mat-icon>save</mat-icon>
          </button> 
          <button mat-icon-button color="primary" (click)="cancelItem(ing)">
              <mat-icon>undo</mat-icon>
          </button>
      </div>
    </div>
  </div>

  <br>
  <h3>Directions</h3>
  <!-- <mat-card *ngIf="form.controls.directions.value.length > 0"> -->
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <mat-form-field>
        <textarea matInput type="text" [formControl]="newDirection" placeholder="New direction" (focus)="newDirectionVisible = !newDirectionVisible"></textarea>
      </mat-form-field>        
      <button mat-icon-button color="primary" (click)="newDirectionVisible = !newDirectionVisible"  *ngIf="!newDirectionVisible">
          <mat-icon>forward</mat-icon>
      </button>
      <button mat-icon-button color="primary" (click)="addDirection()"  *ngIf="newDirectionVisible">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="cancelNewDirection()"  *ngIf="newDirectionVisible">
      <mat-icon>undo</mat-icon>
  </button>
    </div>
    <div *ngFor="let drt of form.controls.directions.value;let indexOfelement=index;" fxLayout="row" fxLayoutGap="10px">
      <mat-form-field class="example-full-width" fxFlex>
        <textarea matInput type="text" #drtText [value]="drt" (change)="saveDirection(indexOfelement,drtText.value)"></textarea>
      </mat-form-field>
      <button mat-mini-fab color="primary" (click)="removeDirection(indexOfelement)"><mat-icon>delete</mat-icon></button>
    </div>
  <!-- </mat-card> -->
  <br>
  <h3>HashTags</h3>
  <app-hashtag-list 
    [hashtags]="form.controls.hashtags.value" 
    [selectable]="true" 
    [removable]="true" 
    [canModify]="true"
    [allHashtags]="recipeTypes">
  </app-hashtag-list>
</div>
<br>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]>Cancel</button>
  <button mat-button [mat-dialog-close]="currentData" cdkFocusInitial (click)="saveChanges()">Ok</button>
</div>